<div
  data-rangeSlider-popover-outlet="#<%= id %>-popover"
  data-controller="rangeSlider"
  data-rangeSlider-min-value="<%= min %>"
  data-rangeSlider-max-value="<%= max %>"
  data-rangeSlider-step-value="<%= step %>"
  data-rangeSlider-decimal-places-value="<%= decimal_places %>"
  >
  <div class="flex justify-center">
    <label for="distance"><%= label %></label>
  </div>
  <hr class="my-1">
  <div class="flex justify-between mb-2">
    <span data-rangeSlider-target="min"></span>
    <span data-rangeSlider-target="max"></span>
  </div>
  <div data-rangeSlider-target="slider" ></div>
</div>