<div
  id="duration-popover"
  data-controller="popover mapFilter"
  data-mapFilter-filter-key-value="<%= filter_key %>"
  data-mapFilter-label-value="<%= label %>"
  <% if defined?(parser) %>
    data-mapFilter-parser-value="<%= parser %>"
  <% end %>
  data-filters-target="filter"
  data-mapFilter-filters-outlet="#filters"
  class="flex items-center bg-white rounded-md ml-2 shadow-md relative"
>
  <div data-action="click->popover#toggle" class="flex items-center p-2 cursor-pointer">
    <button data-mapFilter-target="text"><%= label %></button>
  </div>
  <div data-popover-target="popover" data-action="click@window->popover#close" class="hidden">
      <div data-action="click->popover#forceClose" class="fixed md:hidden top-0 left-0 h-full w-full bg-gray-500 opacity-75">
      </div>
      <div class="bg-white fixed md:absolute left-0 bottom-0 md:bottom-10 z-600 shadow-md md:rounded-md p-3 w-full md:w-48" data-action="rangeSlider:change->mapFilter#propagateRangeSliderFilterChange filterableList:change->mapFilter#propagateFilterChange">
        <%= yield %>
      </div>
  </div>
</div>